.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

#articleListBox {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 10px;
}

.articleCard {
  background: #e46058;
  padding: 0.4rem;
  margin: 0.2rem;
  width: 20%;
  min-width: 300px;
  max-width: 300px;
  text-align: left;
  border-radius: 0.6em;
}

.articleCardTitle {
  font-size: smaller;
  margin-bottom: 20px;
  text-align: left;
}

.articleCardTopic {
  font-size: smaller;
  text-align: right;
}

.articleCardCreated {
  font-size: small;
  text-align: right;
}

.articleCardVotes {
  font-size: smaller;
  text-align: right;
}

.articleCardViewButton {
}
