body {
  background-color: rgb(92, 181, 255);
}

.App {
  text-align: center;
  background-color: rgb(92, 181, 255);
}

h1 {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
}

.App-header {
  font-size: 4em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#articleListBox {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 10px;
  margin-top: 1em;
}

.articleCard {
  background: #ffffff;
  padding: 0.4rem;
  margin: 0.2rem;
  width: 20%;
  min-width: 300px;
  max-width: 300px;
  text-align: left;
  border-radius: 0.6em;
}

.articleCardTitle {
  font-size: smaller;
  padding: 0.7em;
  margin-bottom: 20px;
  text-align: left;
  background-color: rgb(184, 246, 241);
  border-radius: 0.5em 0.5em 0.2em 0.2em;
  border-bottom: 5px solid rgb(121, 87, 87);
  min-height: 200px;
}

.articleCardTopic {
  font-size: smaller;
  text-align: right;
  margin-right: 20px;
}

.articleCardCreated {
  font-size: small;
  text-align: right;
  margin-right: 20px;
}

.articleCardVotes {
  font-size: smaller;
  text-align: right;
  margin-right: 20px;
}

.articleCardViewButton {
  background-color: rgb(92, 181, 255);
  border: none;
  color: black;
  margin-top: 10px;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.6em;
}

.articleCardViewButton:hover {
  background-color: rgb(1, 69, 255);
  color: white;
}

.articleCardButtonLi {
  text-align: right;
  margin-right: 20px;
}

.selectList {
  width: 240px;
  height: 30px;
  border: 1px solid #999;
  font-size: larger;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.selectList:hover {
  background-color: rgb(1, 69, 255);
  color: white;
}
